body
{
background: rgb(143, 104, 104);
}
.conteiner
{  

display: flex;
flex-direction: column;
width: 100%;
} 

.header 
{

display: flex;
flex-direction: column;
align-items: center;
background-color: white;  
padding-top: 15px;
}
.header-title
{
display: flex;
align-items: center;
font-size: 25px;
}
.header-image
{
width: 350px;
padding-right: 20px;

}
.conteiner-description
{

padding: 30px;
text-align: center;

}
.game
{ 
    
display: flex;
justify-content: center;
margin: 10px;
}
.board    
{
margin-right: -150px;  
border-radius: 30px;
display: flex;
justify-content: center;
align-items: center;   
flex-grow: 1;   
background-color: rgb(255, 255, 255);  
padding: 20px; 
}
.first, .middle, .last
{
display: flex;  
justify-content: center;  
flex-grow: 1; 
background: grey;
 

}
.first-part-list, .middle-part-list, .last-part-list 
{
display: flex;  
flex-direction: column;
justify-content: center; 
}
.ball-place 
{  
list-style-type: none;  
background-color: #015EBB;
border: 2px solid #013D78; 
width: 20px;    height: 20px;  
border-radius: 20px;   
margin: 5px;  
box-shadow: 2px 0px 3px 1px rgba(0,0,0,0.65); 
}
.ball-place-empty 
{    
    
list-style-type: none;
background-color: rgb(195, 195, 195);
border: 2px solid #FFF;  
width: 20px;  
height: 20px; 
border-radius: 20px;
margin: 5px;   
}

@media (min-width: 500px)
{   
.ball-place, .ball-place-empty 
{     

width: 30px;      
height: 30px;     
border-radius: 30px; 
} 
}

@media (min-width: 768px) 
{    
html 
{        
height: 100%;
}
body 
{     
height: 100%;  
}    
.conteiner
{
    
height: 100%;      
flex-direction: row;  
align-items: center;   
justify-content: center;    
}   
.header 
{ 
border-radius: 30px;
width: 40%;  
margin: 0px;   
}   
.game
{
     
width: 40%; 
margin:10px;
} 
.ball-place, .ball-place-empty 
{        
width: 40px;  
height: 40px;   
border-radius: 40px;  
}
}




@media (min-width: 1200px)
{   
.ball-place, .ball-place-empty 
{        
width: 50px;      
height: 50px;   
border-radius: 50px;  
}
}

@media (min-width: 1920px)
{    
.ball-place, .ball-place-empty
{        
width: 70px;  
height: 70px; 
border-radius: 70px; 
}
}
 
 

 